.chart-axis,
.chart-grid {
  font-family: "europa", sans-serif;
  .domain {
    stroke: #99999980;
  }
  .tick {
    text {
      fill: #666666;
    }
    line {
      stroke: #d2d2d2;
      stroke-width: 0.75px;
    }
  }
}

.chart-axis {
  &.x-axis {
    @media (max-width: 768px) {
      .tick:nth-child(odd) {
        display: none;
      }
    }
  }
}
